<footer class="site-footer">
  <div class="footer-container">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <nav class="footer-nav">
      {% for link in site.data.nav-links %}
        <a href="{{ link.url | prepend: site.baseurl }}">
          {{ link.name | downcase }}
        </a>
      {% endfor %}
    </nav>

    <ul class="profile-list">
      {% for profile in site.data.social-profiles %}
        <li>
          <a href="{% if profile.name == 'twitter' %}https://twitter.com/{{ profile.value }}{% elsif profile.name == 'github' %}https://github.com/{{ profile.value }}{% elsif profile.name == 'linkedin' %}{{ profile.value }}{% elsif profile.name == 'email' %}mailto:{{ profile.value }}{% endif %}">
            {{ profile.icon }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class="copyright">{{ site.time | date: '%Y' | prepend: '&copy; ' }}</p>
</footer>
