{% for experience in site.resume-items.experiences %}
<script>
function initMap_{{ forloop.index }}() {
  var myLatLng_{{ forloop.index }} = {lat: {{ experience.coordinates.latitude }}, lng: {{ experience.coordinates.longitude }}};

  var map_{{ forloop.index }} = new google.maps.Map(document.getElementById('map_{{ forloop.index }}'), {
    zoom: 4,
    center: myLatLng_{{ forloop.index }}
  });

  var marker_{{ forloop.index }} = new google.maps.Marker({
    position: myLatLng_{{ forloop.index }},
    map: map_{{ forloop.index }},
    title: '{{ experience.address }}'
  });
}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.api_keys.google }}&callback=initMap_{{ forloop.index }}"
  type="text/javascript">
{% endfor %}
