<script type="text/javascript">
function initMap() {
  {% comment %}Declare a map and marker using the forloop index at each work experience item{% endcomment %}{% for experience in site.resume-items.experiences %}var map_{{ forloop.index }};
  var LatLng_{{ forloop.index }} = {{ experience.coordinates.latitude | prepend: '{lat: ' }}, {{ experience.coordinates.longitude | prepend: 'lng: ' }}};
  {% endfor %}
  {% comment %}Create each map and marker{% endcomment %}{% for experience in site.resume-items.experiences %}var map_{{ forloop.index }} = new google.maps.Map(document.getElementById('map_{{ forloop.index }}'), {
    zoom: 12,
    center: LatLng_{{ forloop.index }}
  });
  var marker_{{ forloop.index }} = new google.maps.Marker({
    position: LatLng_{{ forloop.index }},
    map: map_{{ forloop.index }},
    title: '{{ experience.address }}'
  });
{% if forloop.last == true %}} {% endif %}{% endfor %}

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.api_keys.google }}&callback=initMap"></script>
