---
layout: default
---
<!-- Start portfolio item -->
<article class="portfolio-item">
  <header>
    <h1 class="post-title no-margin">{{ page.title }}</h1>
  </header>
<!-- Start slideshow -->
<div class="slideshow-container">
  {% for image in page.portfolio-images reversed %}
  <input type="checkbox" class="slideshow-ctrl">
  <div class="slide" slide="{{ forloop.rindex }}"  annot="{{ forloop.rindex | prepend: 'Caption ' }}">
    <div class="image-container">
      <img src="{{ image.img-path }}" alt="{{ forloop.rindex | prepend: ' image '| prepend: page.title }}">
    </div>
  </div>

  <div class="counter" count="{% for image in page.portfolio-images %}{% if forloop.first == true %}{{ forloop.length | prepend: ' / ' }}{% endif %}{% endfor %}">{% for image in page.portfolio-images %}{% if forloop.first == true %}{{ forloop.length | prepend: ' / ' }}{% endif %}{% endfor %}</div>
  {% endfor %}
</div><!-- End slideshow -->
  <!-- Start portfolio item content -->
  <div class="post-content portfolio-content" itemprop="articleBody">
    <!-- Start social shares -->
    {% include social-shares.html %}<!-- End social shares -->
    {{ content }}
  </div><!-- End portfolio item content -->
</article><!-- End portfolio item -->
